@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&family=Yuji+Syuku&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Yeseva One', cursive;
    --font3: 'Yuji Syuku', serif;

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-family: var(--font2);
    font-size: 8vw;
    font-weight: normal;
}
header p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: 
    underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3.5vw;
}
section p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(50, 47, 47);
    color: white;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.636);
    background-attachment: fixed;
}
section#img01{
    background-image: url(imagens/roads.jpg);
    background-position: center bottom;
    background-size: cover;
}
section#img02{
    background-image: url(imagens/landscape.jpg);
    background-position: center center;
    background-size: cover;
}
section.imagem p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.379);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.565);
}
footer{
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;
}